/* ELEMENTS */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

/* CLASSES */
.bg-orange {
    background-color: orange;
}

.box-shadow {
    box-shadow: 0 0 8px 2px gray;
    position: relative;
    z-index: 10;
}

.content {
    height: 90vh;
    width: 100vw;
}

.content-full {
    height: 100vh;
    width: 100vw;
}

.display-none {
    visibility: hidden;
}

.error {
    color: red;
}
/* IDS */
#gne {
    color: white;
    font-weight: bolder;
    font-size: 60pt;
    border: 10px solid white;
}

#index-content {
    background-image: url(./../images/design/motorcycles.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index-action {
    margin-top: 10vh;
}

#index-action a {
    text-decoration: none;
    font-size: xx-large;
    padding: 15px 30px;
    border-radius: 50px;
    margin: 0 2vw;
}

#index-action a:hover {
    text-decoration: underline;
}

#login-box {
    height: 56vh;
    width: 30vw;
    position: absolute;
    top: 22vh;
    right: 6vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(00, 00, 00, 0.6);
}

#login-content {
    background-image: url(./../images/design/driver.jpg);
    background-size: 100% 100%;
}

#login-form {
    margin: 0 3% 0 2%;
}

#login-form input, button {
    width: 100%;
    font-size: 18pt;
    margin: 20px 0;
}

#login-form span {
    display: inline-block;
    font-size: larger;
    margin-bottom: 10px;
}

#login-title {
    margin: 4vh 0;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

#view-products-action {
    background-color: orange;
    color: white;
}

#login-action {
    background-color: white;
    color: orange;
}

#top-nav {
    width: 100vw;
    height: 10vh;
}

#top-nav-elements {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-nav-elements a {
    padding: 2.5vh 1vw;
    color: white;
    font-size: x-large;
    text-decoration: none;
}

#top-nav-elements a:hover {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}